<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Sitecore.MvcRouting.Pipelines.MvcRoutingResolver, Sitecore.MvcRouting" />
      </httpRequestBegin>
    </pipelines>
    <xslExtensions>
      <extension mode="on" type="Sitecore.MvcRouting.Extensions.MvcRoutingXslExtensions, Sitecore.MvcRouting" namespace="http://www.sitecore.net/mvc/routing" singleInstance="true" />
    </xslExtensions>
  </sitecore>
</configuration>

